.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;

}

.form {
    width: 28%;
    /* height: 75%; */
    border-radius: 1rem;
    padding: 2rem;
    background: #5E92A7;

}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.input {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
}

.label {
    margin-bottom: 0.5rem;
}

.heading {
    margin-bottom: 1rem;
}

.signin {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
    background: #EECECF;
    transition: 100ms ease-in;
}

.error {
    color: rgb(212, 38, 38);

}

.prompt {
    margin-bottom: 0.2rem;
}

.signin:hover {
    background: #e09091;
}

.dropdown{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
}

@media only screen and (max-width: 900px) {
    .form {
        width: 55%;
    }
}


@media only screen and (max-width: 500px) {
    .form {
        width: 85%;
    }
}