.container {
    height: 1.5rem;
    max-width: 7rem;
    border-radius: 0.4rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 6px 0 6px;
}

.text {
    font-size: 0.75rem;
    font-weight: 500;
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 7.2rem;
    }

    .text {
        font-size: 0.75rem;
    }
}