.table {
    width: 80%;
}

.table_header {
    border-radius: 3px;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    gap: 0.5rem;
}

.tableHeaderText {
    font-weight: 700;
    background: #fff;
    height: 3rem;
    border-radius: 0.6rem;
    display: flex;
    text-align: start;
    align-items: center;
    padding-left: 0.75em;

}

.table_row {
    background-color: #ffffff;
    border-radius: 0.6rem;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    transition: 0.1s ease-in;
}

.table_row:hover {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col {
    display: flex;
    align-items: flex-start;
    margin-left: 0.8rem;
    /* border: 1px solid; */
    /* justify-content: center; */
}

.col_1 {
    width: 14%;
}

.col_2 {
    width: 14%;
}

.col_3 {
    width: 14%;
}

.col_4 {
    width: 30%;
}

.col_5 {
    width: 14%;
}

.col_6 {
    width: 14%;
}